* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 134px, 23%;
}

header {
height: 200px;
background-color: purple;

}

footer {
height: 200px;
background-color: purple;

}

.centered {
color: white;
text-align: center;
}

header .subtitle {
color: white; 
}

h1 {
text-transform: uppercase;
color: white;
text-align: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;

}

main {

}

section {

}

h2 {
color: purple;
text-align: center;
}

h3 {
color: purple;

}

p {
color: purple
text-align: center;
}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {
	text-transform: capitalize;
color: white;
}